@import url(http://fonts.googleapis.com/css?family=Open+Sans);
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin:0;
}

.menu {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
}

.menu a {
    display: inline-block;
    color: aliceblue;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 12px;
}

.menu a:hover {
    color: black;
    background-color: #0cd9f5;
  }

#banner {
    background-image: url(Pictures/banner_assassins_creed.jpg);
    width: 100%;
    height: auto;
}

.main {
    padding: 10px;
    transform: translate(150px,-100px);
    background-color: white;
}

.thumb {
    display: block;
    text-align: center;
}

.thumb-image {
    width: 170;
    height: 170;
}